body {
  background: blanchedalmond;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: coral;
  font-size: 2rem;
  border: 2px solid black;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) translateX(10px) scale(1.1);
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  position: relative;
  padding: 1px;
  margin: 94px 0px 10px 0px;
  font-weight: 700;
  background-color: rgb(191, 154, 154);
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

footer button {
  border-radius: 5px;
  background-color: coral;
}
